.container{
    padding: 100px;
    display: flex;
    background-color:  #FBEED5;
    font-family: "menco", sans-serif;
    margin-top: 50px;
}

.left{
    flex: 2;
}

.right{
    flex: 1;
    }

.imgContainer{
    width: 75px;
    height: 75px;
    position:relative; 
    margin-left: 70px;  
}

.table{
    width: 100%;
    border-spacing: 20px;
    text-align: left;
}

.name{
    font-weight: bold;
    color: #1B2C4A;
    font-size: 18px;
}

.total{
    font-weight: 500;
    font-size: 18px;
}

.wrapper{
    width: 90%;
    max-height: 300px;
    background-color: #FBEED5;
    padding: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.totalTextTitle{
    margin-right: 10px;
}

.button{
    height: 30px;
    
    background-color:#1B2C4A;
    color: #FBEED5;
    border: none;
    border-radius: 55px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    
}

@media screen and (max-width: 480px){
   
    .container{
        margin-top: 100px;
    flex-direction: column;
     padding: 20px;
    }
    .table
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .trTitles {
        display: none;
    }
    .tr{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .imgContainer{
        width: 30vw;
        height: 30vw;
        position:relative; 
        margin-left: 0px;  
    }
    .price::before{
        content: "Price: ";
        font-weight: bold;
    }
    .quantity::before{
        content: "Quantity: ";
        font-weight: bold;
    }
    .total::before{
        content: "Total: ";
        font-weight: bold;
    }
    .wrapper{
        width: 100%;
    }
 
 }